@media (min-width: 500px) {
  #logo {
    font-size: 3rem;
  }

  #vocabulary {
    width: 700px;
  }

  .driver {
    min-width: 500px;
  }

  .test-container {
    width: 800px;
    background-color: white;
    padding: 2rem;
    margin: 0 0 2rem 0;
    max-width: 1500px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25rem;
    overflow: scroll;
  }

  .finish-button {
    font-size: 1.2rem;
    width: 8rem;
  }

  .finish-button-container {
    width: 18rem;
    display: flex;
    justify-content: space-between;
  }

  .test-button {
    font-size: 1.2rem;
  }

  .logout-container {
    margin: 0 6rem 0 0;
  }

  #regiser-container {
    width: 22rem;
  }

  .register-inputs {
    width: 11rem;
  }

  #register-title-context {
    font-size: 0.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-login {
    border: none;
    background: rgb(143, 192, 169);
    margin: 0px 2rem 0 0;
    display: flex;
    flex-wrap: wrap;
    min-width: 400px;
    justify-content: space-around;
  }

  #login-container {
    margin-top: 7.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 0 0;
  }
  #register-container {
    width: 20rem;
  }
}

@media (max-width: 500px) {
  #logo {
    font-size: 2rem;
  }

  #vocabulary {
    width: 280px;
  }

  .driver {
    min-width: 250px;
  }

  .test-container {
    width: 280px;
    background-color: white;
    padding: 2rem;
    margin: 0 0 2rem 0;
    max-width: 1500px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25rem;
    overflow: scroll;
  }

  .finish-button {
    font-size: 1rem;
    width: 6rem;
  }

  .finish-button-container {
    width: 13rem;
    display: flex;
    justify-content: space-between;
  }

  .test-button {
    font-size: 0.9rem;
  }

  .logout-container {
    margin: 0 3rem 0 0;
  }

  #register-container {
    width: 16rem;
  }

  .register-text-name {
    font-size: 0.8rem;
  }

  .register-inputs {
    width: 8rem;
  }

  #register-title-context {
    font-size: 0.6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-login {
    border: none;
    background: rgb(143, 192, 169);
    margin: 1rem 2rem 0 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    justify-content: space-around;
    gap: 1rem;
  }

  #login-container {
    margin-top: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 0 0;
  }
}

html {
  background-color: #8FC0A9;
  height: 100vh;
}

#root {
  background-color: #8FC0A9;
}

input:focus {
  outline: none;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7.5rem;
}

#page-1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #8FC0A9;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

#logo {
  display: flex;
  flex-direction: column;
  background-color: #8FC0A9;
  color: #FAF3DD;
  font-weight: 600;
  padding: 0 2rem;
  border: none;
  cursor: pointer;
}

#add-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-bottom: 3rem;
  padding: 2rem;
  height: 18rem;
  border-radius: 5px;
  min-width: 250px;
}

#Jbutton {
  color: white;
  background-color: #68B0AB;
  height: 2.5rem;
  outline: none;
  border: none;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

.voca-input {
  outline: none;
  color: #07553B;
  display: flex;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.input-style {
  outline: none;
  cursor: text;
  border: none;
  width: 100%;
  background-color: #E5E5E5;
  color: black;
  height: 2rem;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
}

#voca-input {
  display: flex;
}

#vocabulary {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  height: 32rem;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  overflow-x: scroll;
}

#vocabulary-intro {
  width: 100%;
}

.row-vocalist {
  font-weight: 500;
  display: flex;
  width: 100%;
  margin: 0.5rem 0;
}

.row-testlist {
  font-weight: 500;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.row-testlist-2 {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.voca-remove-cover {
  width: auto;
  display: flex;
  justify-content: center;
}

.voca-remove {
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: 4rem;
  height: 2rem;
  background-color: #68B0AB;
  color: white;
}

.voca-remove-emty {
  width: 4rem;
  height: 2rem;
}

.voca-element {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voca-number-element {
  min-width: 50px;
}

.driver {
  border: none;
  border-bottom: 2px solid #E5E5E5;
}

.test-inputs {
  border: none;
  border-radius: 5px;
  width: 80%;
  height: 1.5rem;
  padding: 0 5px;
  /* border-bottom: #07553B solid 0.1rem; */
  background-color: #E5E5E5;
}

.test-button {
  outline: none;
  color: white;
  border: none;
  background-color: #68B0AB;
  font-weight: 600;
  width: 6rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 5px;
}

#finish-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.finish-button {
  outline: none;
  color: #68B0AB;
  border: none;
  background-color: #FAF3DD;
  font-weight: 600;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.test-button:hover {
  background-color: #043122;
}

.test-container {
  background-color: white;
  padding: 2rem;
  margin: 0 0 2rem 0;
  max-width: 1500px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25rem;
  overflow: scroll;
}

/* firstpage */

#register-container {
  background-color: white;
  height: 22rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#register-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
}

#register-text {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

.register-text-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-inputs {
  height: 2.7rem;
  background-color: #e5e5e5;
  border: none;
  cursor: text;
  border-radius: 5px;
  padding: 0 1rem;
}

#register-button {
  width: 13rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  background-color: #68B0AB;
  font-weight: 700;
}

.login-inputs {
  width: 6rem;
  height: 2.3rem;
  background-color: #E5E5E5;
  border: none;
  border-radius: 3px;
  cursor: text;
  padding: 0 1rem;
}

.login-button {
  width: 4rem;
  height: 2.3rem;
  background-color: #FAF3DD;
  border: none;
  border-radius: 3px;
  color: #68B0AB;
  font-weight: 800;
  cursor: pointer;
}